body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  box-sizing: border-box;
  color: #252525;
  background-color: #f6f6f7;
  font-size: 16px;
}

main {
  width: 100%;
  background-color: #f6f6f7;
}

h1 {
  font-size: 1.5em;
  padding-top: 20px;
  font-weight: 300;
}

.section__divider {
  height: 1px;
  background-color: #252525;
  width: 100%;
  margin: 5px 0 50px;
}