.c-cookbook {
  &__container {
    min-width: 300px;
    margin: 0 auto;
  }

  p {
    margin: 15px 3% 15px;
  }

  &__image {
    position: relative;
    text-align: center;
    color: white;
    margin: 0 3%;

    img {
      width: 100%;
      height: auto;
    }
  }
}