.o-main-container {
  min-width: 300px;
  padding: 0 10px;
  margin: 0 auto 25px;

  h2 {
    font-size: 1.5em;
    margin: 20px 0 0;
    font-weight: 300;
  }
}

@media only screen and (min-width: 500px) {
  .o-main-container {
      width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .o-main-container {
      width: 668px;
  }
}

@media screen and (min-width: 960px) {
  .o-main-container {
      width: 700px;
  }
}